<div class="row">
    <div class="col-12">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Foto</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let comprador of compradores | async">
                    <td>{{comprador.nombre}}</td>
                    <td [innerHtml]="comprador.email | modText"></td>
                    <td><img src="{{comprador.foto}}" alt="" height="100px"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>