<div class="row">
    <div class="col-4 shadow p-4">
        <h3 class="my-3">Registrars Admin</h3>
        <form id="loginform" class="form-horizontal" [formGroup]="form">
            
            <div style="margin-bottom: 25px" class="input-group">
                <input class="form-control"  formControlName="email" type="email" name="email"  placeholder="Email">                                        
            </div>
        
            <div style="margin-bottom: 25px" class="input-group">
                <input class="form-control"  formControlName="foto" type="text" name="fotoPerfil" placeholder="Foto de perfil">                                        
            </div>
            
            <div style="margin-bottom: 25px" class="input-group">
                <input class="form-control" formControlName="password" type="password" name="password" placeholder="Password">                                        
            </div>
        
            <div class="input-group">
                <div style="margin-top:10px" class="form-group">
                    <div class="col-sm-12 controls">
                        <button (click)="registrarse()" class="btn btn-success"> Registrarse </button>
                    </div>
                </div>
            </div>    
            
            <div class="mt-3">
                <span class="text-danger" *ngIf="singUpError">{{singUpError}}</span>
            </div>
        </form>     
    </div>
</div>